:root{
    --color-fuente-uno: white;
    --color-fuente-dos: black; 
}

*{
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    
}

.container{
    margin: 0 2.5rem;
    background-color: aqua;
}
.header {
    background-color: black;
    height: 6vh;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 0;
    padding-top: 0.5rem;
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 10rem
    ;
}

.logo-menu{
    width: 2.5rem;
}

/*
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.link {
    color: var(--color-fuente-uno);
    text-decoration: none;
    font-weight: bold;
    margin: 20px;
    padding: 10px;
}
*/

.main{
    display: flex;
    flex-direction: column;
    /*height: 80vh;*/
}

.top {
    background-color: blue;
    /*background-image: url(../img/premium_dancer.png);*/
    background-repeat: no-repeat;
    background-position: right;
    /*height: 50%;*/
    padding-top: 15rem;
    padding-bottom: 4rem;   
}

.top .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
}

.titulo-principal{
    color:var(--color-fuente-uno);
    font-size: 5rem;
    font-weight: bold;
    /*line-height: 60px;*/
}

.parrafo-principal{
    color: var(--color-fuente-uno);
    font-size: 2rem;
    font-weight: bold;
    /* line-height: 40px; */
}

.ver-planes{
    color: var(--color-fuente-uno);
    font-size: 1.6rem;
    text-decoration: none;
    background-color: green;
    border-radius: 2rem;
    padding: 1rem;
}

.nota{
    color: var(--color-fuente-uno);
    font-size: 1.2rem;
    /* line-height: 20px; */
}

.bottom .container {
    display: flex;
    flex-direction: column;
    background-color: red;
    gap: 2.5rem;
}

.titulo-premium{
    font-size: 2.5rem;
    text-align: center;
}

.img-premium{
    width: 10rem;
}

.apartados {
    font-size: 1.2rem;
    font-weight: bold;
}

.benefit{
    display: flex;
    justify-content: flex-start;
    background-color: green;
    gap: 1.5rem;
}
.benefit-parrafo {
    font-size: 1rem;
    line-height: 1.5rem;
}

.footer {
    background-color: black;
    color: var(--color-fuente-uno);
    width: 100%;
    height: 10vh;
   /* position: fixed;
    bottom: 0;*/
}

.footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}